<p><div style="margin-bottom: -5rem;">&nbsp;</div></p>
<h2 style="padding-bottom: 1rem"><span style="color:white">{{config.site.title}}</span></h2>
<p><div style="margin-top: -4rem;">&nbsp;</div></p>
