$white: #ffffff;
$black: #000000;

$indigo: #38138E;
$red: #D85B56;
$blue: #6AB7E1;
$creme: #FFFAF0;


$red:#C40B07;  /*red*/ 
$success-green:#5CB85C;
$warn-orange:#EDA509;
$info-blue: #27B0A7; 


$platinum: #555;
$gold: #C48E29;
$silver: #ccc;


$primary: #4193A9;


$cool-gray-11: #58595b;
$cool-gray-4:#bdbcc0;
$lightest-cloud:#F6F7F9;


$v1air:#3399cc;
$v1water:#6C879E;
$v1nourishment:#A6BF95;
$v1light:#ECBA58;
$v1comfort:#EBCDC6;
$v1fitness:#D4C0AD;
$v1mind:#88C5D0;


$v2air:#144249;
$v2water:#07667f;
$v2nourishment:#0b7b97;
$v2light:#3b9db6;
$v2movement:#91cbd3;
$v2thermal:#a7d6ad;
$v2light:#3b9db6;
$v2movement:#91cbd3;
$v2thermal:#a7d6ad;
$v2sound:#63a984;
$v2materials:#40927d;
$v2mind:#2f6b5e;
$v2community:#23483d;



/* Light Greys */

.lightestcloud {
	background-color: lighten($cool-gray-4, 10);
}

.lightcloud {
	background-color: lighten($cool-gray-4, 5);
}

.cloudygrey {
	background-color: $cool-gray-4;
}

.darkcloud {
	background-color: darken($cool-gray-4, 10);
}

.darkestcloud {
	background-color: darken($cool-gray-4, 20);
}





/* Dark Grey */

.lightsmoke {
	background-color: lighten($cool-gray-11, 20);
}

.smoke {
	background-color: lighten($cool-gray-11, 10);
}

.charcoal {
	background-color: $cool-gray-11;
}

.burntcharcoal {
	background-color: darken($cool-gray-11, 10);
}

.darkcharcoal {
	background-color: darken($cool-gray-11, 20);
}





/* WELL Blue */

.lightestwellblue {
	background-color: lighten($primary, 20);
}

.lightwellblue {
	background-color: lighten($primary, 10);
}

.wellblue {
	background-color: $primary;
}

.darkwellblue {
	background-color: darken($primary, 10);
}

.darkestwellblue {
	background-color: darken($primary, 20);
}


/* WELL v1 Features */

.v1air {
	background-color: $v1air;
}

.v1water {
	background-color: $v1water;
}

.v1nourishment{
	background-color: $v1nourishment;
}

.v1light {
	background-color: $v1light;
}

.v1fitness {
	background-color: $v1fitness;
}

.v1comfort {
	background-color: $v1comfort;
}

.v1mind {
	background-color: $v1mind;
}


/* WELL Features */

.air {
	background-color: $v2air;
}

.water {
	background-color: $v2water;
}

.nourishment{
	background-color: $v2nourishment;
}

.light {
	background-color: $v2light;
}

.movement {
	background-color: $v2movement;
}

.thermal {
	background-color: $v2thermal;
}

.sound {
	background-color: $v2sound;
}

.materials {
	background-color: $v2materials;
}

.mind {
	background-color: $v2mind;
}

.community {
	background-color: $v2community;
}














// Variables for Include Media //
$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

/* Placeholder text color
$input-color-placeholder: #999 !default;*/


